# Compiled class file
*.class

# Log files
*.log

# Temporary files
*.tmp
*.temp

# Eclipse files
.settings/
bin/
target/

# Gradle files (if you use Gradle)
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties

# Maven files (if you use Maven)
.mvn/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next

# OS specific files
.DS_Store
Thumbs.db
